<h1 class="mt-4">Index</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<form action="/users/logout?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-secondary">Logout</button>
</form>
